<div class="block-info">
  <h1 class="member-info">
    Information about member
  </h1>
  <div class="flex-info">
    <div class="information">
      <h2 class="font">
        Name:
        <input class="inp" [(ngModel)]="selectedMember.name" type="text" name="">
      </h2>
      <h2 class="font">
        Lastname:
        <input class="inp" [(ngModel)]="selectedMember.lastname" type="text" name="">
      </h2>
      <h2 class="font">
        Old:
        <input class="inp" [(ngModel)]="selectedMember.old" type="text" name="">
      </h2>
      <button [disabled]="!selectedMember.name" type="button" (click)="updateMember(selectedMember)">Update Member</button>
    </div>

  </div>
</div>