.block-info{
    width: 100%;
    min-width: 350px;
    height: 100%;
    background: #F8F8FF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px;
    
}
.member-info{
    height: 8%;
    width: 100%;
    background: #F8F8FF;
    margin: 0px;
    color: black;
    border-bottom: 0.1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
}
.information{
    width: 90%;
    padding: 0.5%;
    height: auto;
    background: white;
    margin: auto;
    box-shadow: 0px 1px 5px 0px gray 
}
.flex-info{
    width: 100%;
    height: 92%;
    background: white;
    margin: 0px;
    border-left: 1px solid black;
    overflow-y: scroll;
}
.font{
    padding: 0px;
    margin: 20px 30px;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    
}
.inp{
    background: white;
    border: none;
    font-size: 20px;
    outline: none
}
button{
    margin: 20px 30px;
    margin-top: -10px;
    border: 1.5px solid #FFA500;
    outline: none;
    background: white;
    width: 20%;
    min-width: 170px;
    height: 30px;
    font-size: 15px;
    font-weight: lighter;
}
button:hover:not([disabled]){
    background: #FFA500;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 1180px){
    .block-info{
        width: 100%;
        box-shadow: 0px 2px  5px 0px gray  
    }
}