.content-select{
    width: 100%;
    min-width: 350px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center
}
.list-memers{
    height: 8%;
    width: 100%;
    background: #F8F8FF;
    border-bottom: 0.1px solid black;
    margin: 0px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
}
.selected-block{
    width: 80%;
    height: 80%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.8);
}
.select{
    width: 100%;
    height: 65%;
    background:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.heightBetwenBlocks{
    height: 40px;
    border: none;
    width: 100%;
}
.heightBetwenBlocks:hover{
    background: white;
    cursor: auto;
}
.spanAnother{
    height: 20px;
}
.flex-sect{
    width: 100%;
    height: 92%;
    background: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.block-sel{
    width: 80%;
    height: 12%;
    outline: none;
    margin-bottom: 20px;
    background: white;
    color: black;
    font-family: sans-serif;
    font-weight: lighter;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    font-size: 16px
}

span{
    width: 70%;
    height: 100%;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    border:1.5px solid #63B8FF;
    border-right: none;
}
span:hover{
    background: #63B8FF;
    color: white;
    cursor: pointer;
    transition: 0.25s;
}
.clickDeleteMember{
    width: 30%;
    height: 100%;
    border: 1.5px solid #63B8FF;
    border-left: 1.5px solid #63B8FF;
    display: flex;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: lighter;
    justify-content: center;
    align-items: center;
    outline: none;
    background: white;
}
.clickDeleteMember:hover{
    background: #FF6A6A;
    color: white;
    cursor: pointer;
    border-color: #FF6A6A
}
.inp{
    background: white;
    border: none;
    font-size: 20.2px;
    outline: none
}
.added{
    width: 100%;
    height: 35%;
    background:#F8F8FF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.replaceBlockAddMember{
    width: 40%;
    height: 20%;
    border: none;
    border: 1.5px solid #FFA500;
    background: white ;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: lighter;
    letter-spacing: 1.5px;
    outline: none;
}
.replaceBlockAddMember:hover{
    background: #FFA500;
    color: white;
    cursor: pointer;
}
.blockAddMember{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blockWithInputForMembers{
    width: 60%;
    height: 100%;
    background: #63B8FF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.clickPushMember{
    width: 30%;
    height: 35%;
    background: white;
    border-radius: 100%;
    border: 2px solid #FFA500;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 0px #FFDEAD;
    outline: none;
}
.clickPushMember:hover{
    background:	#FFDEAD;
    cursor: pointer;
}
.font-button{
    margin: 0px;
    font-weight: lighter;
    font-size: 37px;   
    font-family: sans-serif
}
.inpad{
    width: 80%;
    height: 17%;
    border-radius: 8px;
    padding-left: 8px;
    border: none;
    outline: none;
    font-size: 14px;
}
.blockForButtonToAddMember{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}