<div class="content-select">    
  <h1 class="list-memers">
    list of members
  </h1>
  <div class="flex-sect">
    <div class="selected-block">
    <div class="select">
      <span class="heightBetwenBlocks"></span> 
      <div  class="block-sel" *ngFor=' let member of listMembers ' >
        <span (click)="clickSelectMember( member )" > {{ member.name + ' ' + member.lastname }}</span>
        <span class="clickDeleteMember" (click)='clickDeleteMemberr(member.id)' >DELETE</span>
      </div>
      <span class="heightBetwenBlocks spanAnother"></span>
    </div>
    <div class="added">
        <button *ngIf=' displayBlockbut ' class="replaceBlockAddMember" (click)='displayBlock()' >Add memeber</button>
        <div class="blockAddMember" *ngIf=' displayBlockinp'>
          <div class="blockWithInputForMembers">
          <input class="inpad" type="text"[(ngModel)]='objMember.addedName' placeholder="Name">
          <input class="inpad" type="text"[(ngModel)]='objMember.addedLastname' placeholder="Lastname">
          <input class="inpad" type="text"[(ngModel)]='objMember.addedOld' placeholder="Old">
          </div>
        <div class="blockForButtonToAddMember">
          <button class="clickPushMember" (click)=' clickPostMemberr( objMember ) '><p class="font-button"> + </p></button>
        </div>
      </div>
    </div>       
  </div>
  </div>
  
</div>