<app-search-in-list
  (searchFunction)='searchFunction($event)'>
</app-search-in-list>

<div class="mainBlock">
  <div class="blocklist">
    <app-list-memebers
      [membersList]='membersList'
      (selectMemberClick)="selectMember($event)"
      (clickDeleteMember)="deleteMember($event)"
      (clickPostMember)="addMember($event)">
    </app-list-memebers>
  </div>  
  <div class="blockChoice">
    <app-selected-member
      [member]="selectedMember"
      (triggerMemberUpdate)="updateMember($event)">
    </app-selected-member>
  </div>
</div>