<mat-toolbar class="toolbar">
	<div class="burger-menu" (click)="drawer.toggle()">
		<hr>
		<hr>
		<hr>
	</div>
	<h1 class="titleSite">My family and my friends</h1>
</mat-toolbar>
<div class="mainBlock">
	<mat-drawer-container class="mat-container">
		<mat-drawer #drawer class="example-sidenav" mode="side">
			<h1 class="menu">MENU</h1>
			<nav class="naw">
				<a mat-button color="primary" routerLink='/family'>family</a>
				<a mat-button color="primary" routerLink='/frend'>friends</a>
			</nav>
		</mat-drawer>
		<router-outlet></router-outlet>
	</mat-drawer-container>
</div>